{
  "generatedBy": "GeneXus",
  "configurationSource": "config",
  "bindings": [
    {
      "type": "blobTrigger",
      "direction" : "in",
      "name": "myBlob",
	  "path" : "$path$",
	  "connection" : "$connection$"
    }
  ],
  "disabled": false,
  "scriptFile": "../bin/GeneXus.Deploy.AzureFunctions.BlobStorageHandler.dll",
  "entryPoint": "GeneXus.Deploy.AzureFunctions.BlobStorageHandler.BlobTriggerHandler.Run"
}