{
  "generatedBy": "GeneXus",
  "configurationSource": "config",
  "bindings": [
    {
      "type": "queueTrigger",
      "connection": "$connection$",
      "queueName": "$queueName$",
      "name": "myQueueItem"
    }
  ],
  "disabled": false,
  "scriptFile": "../bin/GeneXus.Deploy.AzureFunctions.QueueHandler.dll",
  "entryPoint": "GeneXus.Deploy.AzureFunctions.QueueHandler.QueueTriggerHandler.Run"
}