{
  "generatedBy": "GeneXus",
  "configurationSource": "config",
  "bindings": [
	{
		"type": "timerTrigger",
		"schedule": "$schedule$",
		"useMonitor": true,
		"runOnStartup": false,
		"name": "TimerInfo"
	}
  ],
  "disabled": false,
  "scriptFile": "../bin/AzTimerTriggerHandler.dll",
  "entryPoint": "AzTimerTriggerHandler.TimerTriggerHandler.Run"
}