bin/

*.nupkg
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net462/GeneXus.DeploymentTargets.AssemblyInfo.cs
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net462/GeneXus.DeploymentTargets.AssemblyInfoInputs.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net462/GeneXus.DeploymentTargets.GeneratedMSBuildEditorConfig.editorconfig
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net462/GeneXus.DeploymentTargets.assets.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net462/GeneXus.DeploymentTargets.csprojAssemblyReference.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net5.0/GeneXus.DeploymentTargets.AssemblyInfo.cs
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net5.0/GeneXus.DeploymentTargets.AssemblyInfoInputs.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net5.0/GeneXus.DeploymentTargets.GeneratedMSBuildEditorConfig.editorconfig
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net5.0/GeneXus.DeploymentTargets.assets.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net5.0/GeneXus.DeploymentTargets.csprojAssemblyReference.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net6.0/GeneXus.DeploymentTargets.AssemblyInfo.cs
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net6.0/GeneXus.DeploymentTargets.AssemblyInfoInputs.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net6.0/GeneXus.DeploymentTargets.GeneratedMSBuildEditorConfig.editorconfig
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net6.0/GeneXus.DeploymentTargets.assets.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/net6.0/GeneXus.DeploymentTargets.csprojAssemblyReference.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netcoreapp3.1/GeneXus.DeploymentTargets.AssemblyInfo.cs
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netcoreapp3.1/GeneXus.DeploymentTargets.AssemblyInfoInputs.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netcoreapp3.1/GeneXus.DeploymentTargets.GeneratedMSBuildEditorConfig.editorconfig
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netcoreapp3.1/GeneXus.DeploymentTargets.assets.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netcoreapp3.1/GeneXus.DeploymentTargets.csprojAssemblyReference.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netstandard2.1/GeneXus.DeploymentTargets.AssemblyInfo.cs
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netstandard2.1/GeneXus.DeploymentTargets.AssemblyInfoInputs.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netstandard2.1/GeneXus.DeploymentTargets.GeneratedMSBuildEditorConfig.editorconfig
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netstandard2.1/GeneXus.DeploymentTargets.assets.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/Debug/netstandard2.1/GeneXus.DeploymentTargets.csprojAssemblyReference.cache
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/GeneXus.DeploymentTargets.csproj.nuget.dgspec.json
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/GeneXus.DeploymentTargets.csproj.nuget.g.props
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/GeneXus.DeploymentTargets.csproj.nuget.g.targets
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/project.assets.json
/src/GeneXus.DeploymentTargets/GeneXus.DeploymentTargets/obj/project.nuget.cache
/src/GeneXus.DeploymentTargets/.vs/GeneXus.DeploymentTargets/DesignTimeBuild/.dtbcache.v2
/src/GeneXus.DeploymentTargets/.vs/GeneXus.DeploymentTargets/v16/.suo
