<DeploymentTarget>
	<Id>GenexusCloud</Id>
	<Name>GeneXus Cloud</Name>
	<Version>1.0</Version>
	<Description>Deploy using GeneXus Cloud</Description>
	<PackageTargets></PackageTargets>
	<DeployMsbuild>deploy.msbuild</DeployMsbuild>
	<DeployMsbuildTarget>Deploy</DeployMsbuildTarget>
	<Languages>
		<!--<Language Id="12" ApplicationServer="Generic Servlet 3.1"/>-->
		<!-- <Language Id="15" ApplicationServer="IIS8"/> -->
	</Languages>
	<DataSources>
		<DataSource Id="18" /> <!-- MySQL -->
		<DataSource Id="12" /> <!-- SQL Server -->
	</DataSources>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
</DeploymentTarget>
