<DeploymentTarget>
	<Id>AZURE_FUNCTIONS</Id>
	<Name>Microsoft Azure Functions</Name>
	<DeploymentScopes>
		<Scope Id = "Backend" />
		<Scope Id = "BackendToCloud" />
	</DeploymentScopes>
	<Version>1.0</Version>
	<Description>Deploy to Azure Functions. Only main procedures or Rest services (including API Objects) can be selected.</Description>
	<PackageTargets>azurefunctions.targets</PackageTargets>
	<DeployMsbuild>deploy.msbuild</DeployMsbuild>
	<DeployMsbuildTarget>Deploy</DeployMsbuildTarget>
	<PackageMsbuild>createpackage.msbuild</PackageMsbuild>
	<PackageMsbuildTarget>CreatePackage</PackageMsbuildTarget>
	<ResolverFactory>GeneXus.Deployment.AzureFunctionsResolvers.ResolverFactory</ResolverFactory>
	<Languages>
		<!-- .Net Core -->
		<Language Id="41" ApplicationServer="Kestrel"/>
		<!-- Java -->
		<Language Id="12" ApplicationServer="Generic Servlet 6.0"/>
	</Languages>
	<Generators>	
		<Generator>
			<Id>12</Id>			
			<SupportFiles>
				<File>services.deployment.azure-serverless.gradle</File>
			</SupportFiles>
			<Data>
				<ApplicationServer>Generic Servlet 6.0</ApplicationServer>
			</Data>
		</Generator>
		<Generator>
			<Id>15</Id>			
			<SupportFiles>
				<File>services.deployment.azurefunctions.csproj</File>
			</SupportFiles>
			<Data/>
		</Generator>			
	</Generators>
	<DataSources>
		<DataSource Id="12" /> <!-- Microsoft SQL Server -->
		<DataSource Id="18" /> <!-- MySQL -->		
		<DataSource Id="15" /> <!-- POSTGRESQL -->	
	</DataSources>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
</DeploymentTarget>
